body
  background-image: radial-gradient(circle at 2% 98%, rgb(179, 255, 171), transparent 100%), radial-gradient(circle at 98% 2%, rgb(18, 255, 247), transparent 100%), radial-gradient(circle at 50% 50%, rgb(188, 38, 94), rgb(188, 38, 94) 100%)
  overflow: hidden

canvas
  display: none

#unlock
  display: none
  height: 100%
  padding-top: 10vh

  .top
    height: 80%

  .ui.header
    font-size: 3rem
    text-align: center

#lock
  background-color: rgba(0, 0, 0, .5)
  display: flex
  flex-direction: column
  height: 100%
  padding-top: 5rem
  width: 100%

  .video-region
    flex: 1

  .buttons
    flex: 0 0 20%

  .video
    position: relative
    margin-top: 50px

    video
      display: block
      margin: 0 auto

  .mask
    position: absolute
    left: calc((100vw - 320px) / 2 + 60px)
    right: calc((100vw - 320px) / 2 + 60px)
    top: 20px
    bottom: 20px


.ui.button
  display: block
  margin: 0 20%
