doctype html
html
  head
    meta(name="viewport" content="width=device-width initial-scale=1")
    link(rel='stylesheet' type='text/css' href='app.css')
  body
    #unlock
      .top
        h1.ui.inverted.header#message Hello !
      .ui.red.button#relock Lock Again
    #lock
      canvas
      .video-region
        .video
          video(autoplay playsinline)
          .mask
      .buttons
        .ui.teal.button#capture Capture Your Face ID
        .ui.violet.button#svm Build SVM
        .ui.blue.button#validate Validate
    script(src='app.js')
