doctype html
html
  head
    meta(name="viewport" content="width=device-width initial-scale=0.5")
    link(rel='stylesheet' type='text/css' href='app.css')
  body
    canvas
    #unlock
      .top
        h1.ui.inverted.header#message Hello !
      .ui.massive.red.button#relock Lock Again
    #lock
      video(autoplay playsinline)
      .buttons
        .ui.massive.teal.button#capture Capture Your Face ID
        .ui.massive.blue.button#validate Validate
    script(src='app.js')
