doctype html
html
  head
    meta(name="viewport" content="width=device-width initial-scale=0.5")
    link(rel='stylesheet' type='text/css' href='app.css')
  body
    canvas
    .lock
      video(autoplay playsinline)
      .ui.massive.teal.button Capture Your Face ID
    script(src='app.js')
